/* Debug */
/* [class*="col-"] {
    background-color: tomato;
    min-height: 100px;
    border: 1px solid black;
} 
 */
/* common */
body {
    padding-top: 70px;
    font-family: 'Roboto', sans-serif;
    color: #041d4e;
}

.ms_link {
    font-size: 16px;
    font-weight: 600;
    color: #006aff;
}
.ms_link:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* Fonts */
h2 {
    margin-top: 10px;
}

.md_text {
    font-size: 18px;
    line-height: 1.5em;
    color: #a9c0ff;
}
.sm_text {
    font-size: 16px;
}

/* Color */
.c_white {
    color: white;
}
.c_light_blue {
    color: #056dff;
}
.c_grey {
    color: #677490;
}

.bg_grey {
    background-color: #f3f5f9;
}

/* /common */

/* Header - Navbar */
.ms_navbar {
    background-color: white;
}

.ms_navbar .navbar-brand {
    height: 70px;
    line-height: 40px;
}

.ms_navbar .navbar-brand > img {
    height: 90%;
    margin-right: 50px;
    display: inline-block;
}

.ms_navbar img {
    vertical-align: middle;
}

.ms_navbar .navbar-nav > li {
    height: 70px;
    line-height: 70px;
}

.ms_navbar .navbar-nav>li>a:not(.btn) {
    line-height: 40px;
    font-size: 17px;
    font-weight: 600;
    color: #263b66;
}

.ms_navbar .navbar-toggle {
    margin-top: 18px;
    margin-bottom: 1px;
}

.ms_navbar .navbar-toggle .icon-bar {
    background-color: #3b8bff;   
}

.ms_navbar span {
    font-size: 12px;
    vertical-align: middle;
}

.ms_navbar .nav>li>a:focus,
.ms_navbar .nav>li>a:hover {
    background-color: white;
}

.ms_navbar .navbar-nav>li>a.btn_nav {
    display: inline-block;
    padding: 6px 12px;
    font-weight: 600;
}

.btn {
    border: 1px solid #509aff;
}
.ms_navbar .navbar-nav > li > a.btn_nav:hover {
    background-color: #509aff;
    color: white;
}

/* Jumbotron - Navbar */
#jumbotron {
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url("../img/bg-banner-home.jpg");
    background-size: cover;
    background-position: center;
}

.ms_form {
    padding: 30px 15px 20px;
    text-align: center;
    background-color: white;
    border-radius: 5px;
}

.ms_btn {
    background-color: #579aff;
    border: 1px solid #579aff;
}

.ms_btn_withe {
    font-weight: 600;
    background-color: white;
    border: 1px solid white;
    box-shadow: 1px 1px 1px lightgray;
    background-image: url("../img/google-icon.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 10px center;
}

.service {
    color: #187aff;
    text-decoration: underline;
    cursor: pointer;
}

/* Main - Sezione loghi */
#ms_section_loghi {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center; 
}

#ms_section_loghi > h4 {
    color: #76819c;   
}

.ms_item_loghi {
    height: 100px;
    position: relative;
}

.ms_item_loghi > img {
    max-width: 100%;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Main - Sezione deploy and scale */
#deploy_scale {
    padding-top: 50px;
    padding-bottom: 50px;
}

.wrapper_text {
    margin-bottom: 50px;
}

.ms_list {
    padding: 5px;
    margin-bottom: 20px;
    list-style: none;
    border-left: 1px solid grey;
}

.ms_list > li {
    margin: 20px 0;
}
.ms_list > li:first-child {
    margin-top: 0;
}
.ms_list > li:last-child {
    margin-bottom: 0;
}
.ms_list > li > a {
    font-size: 18px;
    text-decoration: none;
    color: #677490;
}
.ms_list > li:hover a {
    color: #041d4e;
}

/* Main - Sezione designed */
#designed {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

figure {
    margin: 100px 0;
    min-height: 100px;
    display: inline-block;
}

figure > img {
    max-width: 60%;
}

figcaption {
    margin-top: 10px;
    font-size: 16px;
}

.wrapper_circle {
    list-style: none;
    padding: 0;
}
.wrapper_circle > li {
    display: inline-block;
}

.wrapper_circle > li i {
    color: #187aff;
}
.wrapper_circle > li:hover i {
    background-color: #187aff;
    border-radius: 50%;
} 

figure > i {
    margin: 0 10px;
    font-size: 35px;
}

/* Main - Sezione features */
#features {
    padding-top: 50px;
    padding-bottom: 50px;
}

#features h2,
#customers h2 {
    margin-bottom: 30px;
}

.ms_space {
    margin-bottom: 20px;
}

#features img {
    margin-bottom: 10px;
}

/* Main - Sezione service customers */
#customers {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: white;
    background-image: linear-gradient(to bottom, #0046c4, #00209b);
}

#customers p {
    margin: 10px 0 10px 0;
}
#customers a {
    margin: 10px 0 10px 0;
}

.speed {
    display: inline-block;
    color: #00c1ce;
}

.ms_table {
    border-bottom: 1px solid white;
}

/* Main - Sezione development */
#development {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    position: relative;
}

.slider {
    margin: 100px 0 50px 0;
    padding: 50px 0;
    width: 300px;
    display: inline-block;
    background-color: white;
}

.slider > img {
    width: 300px;
}

#development p {
    font-size: 22px;
    padding: 20px 0 10px 0;
}

#development .fa-chevron-left,
#development .fa-chevron-right {
    font-size: 35px;
    position: absolute;
}

#development .fa-chevron-left {
    text-align: left;
    display: inline-block;
    position: absolute;
    margin-right: 30px;
    left: 25%;
    top: 50%;
}

#development .fa-chevron-right {
    margin-left: 10px;
    top: 50%;
}

/* MEDIA */
@media (min-width: 768px) {
    /* Jumbotron */
    p {
        font-size: 20px;
        line-height: 1.6em;
        color: #a9c0ff;
    }

    /* Main */
    #deploy_scale h2 {
        font-size: 34px;
        font-weight: 600;
    }

    .ms_list {
        margin-left: 70px;
    }
    
    .container_deploy {
        min-height: 200px;
    }

    figure {
        margin: 100px 0 80px 0;
    }

   #customers p {
        font-size: 14px;
        color: #677490;
    }

    .slider {
        width: 400px;
    }
}

/* Per gestire l'humburger icon */
@media (min-width: 768px) and (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media (min-width: 992px) and (max-width: 1199px){

    .ms_navbar .navbar-brand > img {
        height: 80%;
        margin-right: 10px;
    }

    .ms_navbar .nav>li>a {
        padding: 15px 10px;
    }

    /* Main */
    .container_deploy {
        min-height: 200px;
    }

    figure > img {
        max-width: 70%;
    }

    figure {
        margin: 60px 0 30px 0;
    }

    .slider {
        width: 400px;
    }
}

@media (min-width: 1200px) {
    /* Jumbotron */
    h1 {
        font-size: 65px;
    }

    p {
        font-size: 22px;
        line-height: 1.5em;
    }

    /* Main */
    .container_deploy {
        min-height: 200px;
    }

    figure > img {
        max-width: 60%;
    }

    figure {
        margin: 60px 0 30px 0;
    }

    .slider {
        width: 600px;
    }
    
}
