/* .ms_navbar {
    background-color: white;
}

.ms_navbar .navbar-brand {
    height: 60px;
}

.ms_navbar .navbar-brand > img {
    height: 100%;
}

.ms_navbar .navbar-nav > li {
    height: 60px;
    line-height: 68px;
}

.ms_navbar .navbar-nav>li>a:not(.btn) {
    line-height: 40px;
    font-size: 16px;
    font-weight: 600;
    color: #263b66;
}

.ms_navbar .navbar-toggle {
    margin-top: 13px;
    margin-bottom: 13px;
}

.ms_navbar .navbar-toggle .icon-bar {
    background-color: #3b8bff;   
}

.ms_navbar span {
    font-size: 12px;
    vertical-align: middle;
}

.ms_navbar .nav>li>a:focus,
.ms_navbar .nav>li>a:hover {
    background-color: white;
}

.btn {
    border: 1px solid #509aff;
}

.ms_navbar .navbar-nav>li>a.btn_nav {
    display: inline-block;
    padding: 6px 12px;
    font-weight: 600;
}

.ms_navbar .navbar-nav > li > a.btn_nav:hover {
    background-color: #509aff;
    color: white;
}

@media (min-width: 768px) {
    
    .ma_navbar .navbar-toggle {
        display: inline;
        visibility: visible;       
    }
}

body {
    padding-top: 60px;
}

#jumbotron {
    height: 550px;
    background-image: url("../img/bg-banner-home.jpg");
    background-size: cover;
    background-position: center;
}
 */